@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  // overflow: hidden;
}

.categories,
.section-difficulty {
  font-weight: 700;
}

.categories,
.difficulty-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-item,
.difficulty-item {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border: 2px solid #777;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s ease-in;

  &:hover {
    background-color: #28a745;
    border: 2px solid #28a745;
    color: #fff;
  }
}

.section-start {
  p {
    font-size: 1.5rem;
  }
}

.btn-start {
  padding: 1rem 3rem;

  display: none;
}

p.question {
  font-size: 2rem;
  line-height: 1.1;
}

ul.answers {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  width: 100%;

  li.select-answer {
    width: 100%;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    border: 2px solid #aaa;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.15s ease-in;

    &:hover {
      background-color: #28a745;
      border: 2px solid #28a745;
      color: #fff;
    }
  }
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
  list-style: none;
  margin: 0;
  padding: 0;

  div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: bgColorAnimation 15s linear infinite;

    &:nth-child(1) {
      background-color: rgba(255, 0, 0, 0.25);
    }

    &:nth-child(2) {
      background-color: rgba(255, 165, 0, 0.25);
      animation-delay: 3s;
    }

    &:nth-child(3) {
      background-color: rgba(255, 255, 0, 0.25);
      animation-delay: 6s;
    }

    &::nth-child(4) {
      background-color: rgba(0, 128, 0, 0.25);
      animation-delay: 9s;
    }

    &:nth-child(5) {
      background-color: rgba(0, 0, 255, 0.25);
      animation-delay: 12s;
    }
  }
}

@keyframes bgColorAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

.hide {
  display: none;
}

// Trivia container
.trivia-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// ------ Progress bar -----
.progress-container {
  // height: 20vh;
  margin-bottom: 2rem;

  p {
    font-size: 1.5rem;
  }

  .game-progress {
    // Make a border except the right side
    border: 1px solid #c7c7c7;
    border-right: none;
    width: 100%;
    position: relative;

    .boxes {
      display: flex;
      width: 100%;

      .box {
        height: 40px;
        border-right: 1px solid #c7c7c7;

        // Take up 1fr width each
        flex: 1;
      }
    }

    .game-progress-inner {
      position: absolute;
      // Use full length by setting top and bottom to 0
      top: 0;
      bottom: 0;

      // Use full width
      width: 100%;

      background-color: #7ecc00;
      // opacity: 0.57;

      // Re-render the progress inner instead of modifying the width
      // Set it to 0 and progresses when user gets correct answer
      transform: scaleX(0);

      // Align the transformed progress inner to the left
      // first value (center) - controls verical placement
      // second value (left) - controls horizontal placement
      transform-origin: center left;

      // Animate transform
      transition: transform 0.4s ease-out;
    }
  }
}

// OVERLAY

.overlay {
  // Grab the full screen
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  // Add a semi see-through white background
  background-color: rgba(255, 255, 255, 0.9);

  // Center overlay content
  display: flex;
  justify-content: center;
  align-items: center;

  // Hide overlay, only shows when user wins or lose
  opacity: 0;
  visibility: hidden;

  // Animate
  transition: all 0.33s ease-out;
  transform: scaleX(1.2);

  .overlay-inner {
    text-align: center;

    .end-message {
      font-size: clamp(2rem, 10vw, 5rem);
      margin-top: 0;
      margin-bottom: 1rem;
    }

    .reset-button {
      font-size: clamp(0.75rem, 2vw, 1.5rem);
      font-weight: 700;
      padding: 1rem 2rem;
      // background-color: #4338e7;
      color: #fff;
    }
  }
}

// If body has class of overlay-is-open, show overlay
section.section-trivia.overlay-is-open .overlay {
  opacity: 1;
  visibility: visible;

  transform: scaleX(1);
}

// Blur the background
section.section-trivia.overlay-is-open .page {
  filter: blur(4px);
}

.section-trivia {
  display: none;
}
