body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  margin-bottom: 1rem;
}

ul.answers {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;

  li.select-answer {
    margin: 0.5rem;
    padding: 1rem;
    border: 2px solid #aaa;
    border-radius: 10px;
    cursor: pointer;
  }
}

section {
  padding-top: 75px;
}

.categories,
.difficulty-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-item,
.difficulty-item {
  display: inline-block;
  padding: 1rem;
  margin: 0.5rem;
  border: 2px solid #aaa;
  border-radius: 10px;
  cursor: pointer;
}
